<div class="modal fade show d-block" tabindex="-1" aria-labelledby="modalSummonerSummaryLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h2 class="modal-title" id="modalSummonerSummaryLabel">@LeagueEntry.SummonerName</h2>
        <button type="button" role="button" class="btn-close" aria-label="Close" @onclick="OnClickBtnCloseAsync"></button>
      </div>
      <div class="modal-body">
        <h3>Rank: @LeagueEntry.Tier @LeagueEntry.Rank @LeagueEntry.LeaguePoints LP</h3>
        <h3>Wins: @LeagueEntry.Wins</h3>
        <h3>Losses: @LeagueEntry.Losses</h3>
      </div>
      <div class="modal-footer">
        <button type="button" role="button" class="btn btn-secondary" @onclick="OnClickBtnCloseAsync">
            Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade show"></div>